In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("raw/car_prices.csv")
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [4]:
print(type(df['saledate']))

<class 'pandas.core.series.Series'>

In [5]:
print(df['saledate'].dtype)

object

In [6]:
print(df.isnull().any())

year            False
make             True
model            True
trim             True
body             True
transmission     True
vin              True
state           False
condition        True
odometer         True
color            True
interior         True
seller          False
mmr              True
sellingprice     True
saledate         True
dtype: bool

In [7]:
df['make'] = df['make'].fillna(df['make'].mode()[0])

In [8]:
df['model'] = df['model'].fillna(df['model'].mode()[0])

In [9]:

df['trim'] = df['trim'].fillna(df['trim'].mode()[0])
df['body'] = df['body'].fillna(df['body'].mode()[0])
df['transmission'] = df['transmission'].fillna(df['transmission'].mode()[0])
df['color'] = df['color'].fillna(df['color'].mode()[0])
df['interior'] = df['interior'].fillna(df['interior'].mode()[0])
df['saledate'] = df['saledate'].fillna(df['saledate'].mode()[0])

In [10]:
print(df.isnull().any())

year            False
make            False
model           False
trim            False
body            False
transmission    False
vin              True
state           False
condition        True
odometer         True
color           False
interior        False
seller          False
mmr              True
sellingprice     True
saledate        False
dtype: bool

In [11]:
df['condition'] = df['condition'].fillna(df['condition'].mean())
df['odometer'] = df['odometer'].fillna(df['odometer'].mean())
df['mmr'] = df['mmr'].fillna(df['mmr'].mean())
df['sellingprice'] = df['sellingprice'].fillna(df['mmr'])

In [12]:
print(df.isnull().any())

year            False
make            False
model           False
trim            False
body            False
transmission    False
vin              True
state           False
condition       False
odometer        False
color           False
interior        False
seller          False
mmr             False
sellingprice    False
saledate        False
dtype: bool

In [13]:
df = df.drop_duplicates()

In [14]:
df = df.dropna(subset = ['vin'])

In [15]:
print(df.isnull().any())

year            False
make            False
model           False
trim            False
body            False
transmission    False
vin             False
state           False
condition       False
odometer        False
color           False
interior        False
seller          False
mmr             False
sellingprice    False
saledate        False
dtype: bool

In [16]:
df.describe()

,year,condition,odometer,mmr,sellingprice
count,558833.000000,558833.000000,558833.000000,558833.000000,558833.000000
mean,2010.038892,30.672365,68320.506632,13769.377495,13611.361569
std,3.966856,13.260379,53393.930058,9679.672699,9749.431815
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2007.000000,24.000000,28375.000000,7100.000000,6900.000000
50%,2012.000000,34.000000,52266.000000,12250.000000,12100.000000
75%,2013.000000,41.000000,99103.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

In [17]:
# df['year'] = pd.to_datetime(df['year'], utc =True)

In [18]:
print(df['year'].dtype)

int64

In [19]:
print(df['saledate'].dtype)

object

In [20]:
print(df['saledate'][0])

Tue Dec 16 2014 12:30:00 GMT-0800 (PST)

In [21]:
c = df['saledate'][0].split(' ')
print(c[0])
print(type(c))

Tue
<class 'list'>

In [22]:
for x in c:
    print(x)

Tue
Dec
16
2014
12:30:00
GMT-0800
(PST)

In [23]:
df['sale_day'] = df.iloc[:, -1].str.split(' ').str[0]

In [24]:
df['sale_date'] = (df['saledate'].str.split(' ').str[3] + ' ' +
                   df['saledate'].str.split(' ').str[1] + ' ' +
                   df['saledate'].str.split(' ').str[2] + ' ' +
                   df['saledate'].str.split(' ').str[4])

# Convert the constructed date string to datetime
df['sale_date'] = pd.to_datetime(df['sale_date'], format='%Y %b %d %H:%M:%S')

In [25]:
df = df.drop(columns = ['saledate'])
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,sale_day,sale_date
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue,2014-12-16 12:30:00
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue,2014-12-16 12:30:00
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu,2015-01-15 04:30:00
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu,2015-01-29 04:30:00
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu,2014-12-18 12:30:00

In [26]:
df.to_csv("processed/processed_car_data.csv", index = False)

In [27]:
df.iloc[20:40, :].to_csv("processed/sliced_car_data.csv", index= False)

In [28]:
print(df['condition'].min())

1.0

In [33]:
print(df['odometer'].max())

999999.0

In [30]:
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,sale_day,sale_date
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue,2014-12-16 12:30:00
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue,2014-12-16 12:30:00
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu,2015-01-15 04:30:00
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu,2015-01-29 04:30:00
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu,2014-12-18 12:30:00

In [31]:

print(df['sale_date'].dtype)

datetime64[ns]